.messageIndex__sidebar
  .messageSidebar
    .messageSidebar__header
      .sidebarHeader
        .sidebarHeader__userName
          = current_user.name
        = link_to new_group_path, class: "sidebarHeader__createRoom" do
          = fa_icon 'edit', class: 'icon fa-lg'
        = link_to edit_user_registration_path, class: "sidebarHeader__editAccount" do
          = fa_icon 'cog', class: 'icon fa-lg'
        = link_to edit_user_path(current_user), class: "sidebarHeader__editAccount" do
          = fa_icon 'cog', class: 'icon fa-lg'
    .messageSidebar__main
      .chatRooms
        - current_user.groups.each do |group|
          .chatRoom
            = link_to group_messages_path(group), class: "chatRoom" do
              .chatRoom__roomName
                = group.name
              .chatRoom__latestMessage
                = group.show_last_message
                / = group.messages.last&.text
