.messageIndex
  = render 'sidebar'
  .messageIndex__chat
    .chatRoom
      %header.chatRoom__header
        .chatHeader
          .chatHeader__roomInfo
            %h3.chatHeader__roomInfo-roomName
              =@group.name
            %h5.chatHeader__roomInfo-member
              Members :
              %span.chatHeader__roomInfo-memberName
                - @group.users.each do |user|
                  = user.name
          = link_to edit_group_path(@group), class: "chatHeader__editBtn" do
            Edit
      %main.chatRoom__main
        .chatBodies
          - @messages.each do |message|
            .chatBody
              %h4.chatBody__name
                = message.user.name
                %span.chatBody__time
                  = message.created_at.strftime("%Y-%m-%d %H:%M")
              .chatBody__text
                = message.text
      %footer.chatRoom__footer
        .formArea
          = form_for [@group, @message] do |f|
            = f.text_field :text, class: 'formArea__input', placeholder: 'type a message'
            = f.label :image do
              = fa_icon 'picture-o', class: 'icon fa-3x'
              = f.file_field :image, class: 'formArea__file'
            = f.submit 'Send', class: 'formArea__btn'

/form_for入れる前の記述
/ = text_field_tag "#", "",class: "formArea__input", placeholder: "type a message"
/ %label
/   = file_field_tag "#", class: "formArea__file"
/   = fa_icon 'picture-o', class: 'icon fa-3x'
/ = submit_tag "Send", class: "formArea__btn"
